@model Comment

<section>
    <h3>@Model.Id: @Model.Text</h3>
    <div>
        @Html.ActionLink("Details", "Details", new { id = @Model.Id })
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>